#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
}

div.collapse ul li {
	background-color: lightgray;
	border: 2px solid black;
}
div.collapse ul li:hover {
	background-color: lightgreen;
}
p {
	font-size: 16px;
}

a {
	color: black;
}
a:link {
	text-decoration: none;
}
h2 {
	padding: 20px;
}
section {
	margin-bottom: 30px;
	background-color: lightgray;
}